.css-30a45b3a{justify-content:flex-end;gap:8px;margin-block-end:8px;display:flex}.css-05c1a1fb{background:#0000001a;place-items:center;display:flex;position:absolute;inset:0;&>dialog{width:300px;&>input{width:100%}&>menu{text-align:end}}}
